@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #12262E;
  --foreground: #F8F7F3;
  --primary: #254D5C;
  --cta: #EECD55;
  --transparent:rgba(255, 255, 255, 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-cta: var(--cta);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-telugu: "Telugu MN", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background);
    --foreground: var(--foreground);
    --primary: var(--primary);
    --cta: var(--cta);
    --transparent: var(--transparent);
  }
}

@font-face {
  font-family: "Telugu MN";
  src: url("/fonts/TeluguMN-01.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Telugu MN";;
  src: url("/fonts/TeluguMN-Bold-02.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
}